/* Цвет основного текста #212121 */
/* Вторичный цвет текста #757575 */
/* Белый цвет #FFFFFF */
/* Акцент #2196F3 */
/* Цвет для контактной информации rgba(255, 255, 255, 0.6); */
/* Цвет для кнопок #F5F4FA */
/* Вторичный цвет фона #2F303A */
/* Цвет для фона конопок #F5F4FA */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --contact-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
  --button-color: #f5f4fa;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

/* Шапка сайта */
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;
}
.blue {
  color: var(--accent-color);
}

/* Навигация */

.main {
  display: flex;
  align-items: center;
}
.flex-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* Контакты */

.contacts {
  display: flex;
  align-items: center;
}

.contacts .item + .item {
  margin-left: 50px;
}
.margin {
  margin-left: auto;
}

.contacts .link {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.contacts .item {
  align-items: center;
  display: flex;
}
.contacts .item::before {
  content: "";
  margin-right: 10px;
}
.icon-mail::before {
  content: "";
  width: 16px;
  height: 12px;
  background-position: center;
  background-image: url(../images/envelope.svg);
}
.icon-tel::before {
  content: "";
  width: 10px;
  height: 16px;
  background-image: url(../images/phone.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Секция Main */
/* Кнопка */
.colour-button {
  color: var(--primary-text-color);
  background-color: var(--button-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: var(--button-color);
  display: inline-block;
}
.blue-button .link:hover,
.blue-button .link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.blue-button {
  margin-right: 8px;
}

.blue-button:last-child {
  margin-right: 0;
}

.heading-title {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  margin-right: 24px;
}
.text-title {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
}

.section-padding {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-margin {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

/* Футер */
.foot {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logotip {
  color: var(--primary-white-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.blue {
  color: var(--accent-color);
}
.foot-title {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
  margin-bottom: 9px;
}
.foot-colour {
  color: var(--contact-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  margin-bottom: 9px;
}
.foot-colour .link:hover,
.foot-colour .link:focus {
  color: var(--accent-color);
}

.foot-colour:last-child {
  margin-bottom: 0;
}

/* флексбокс */
.test-project {
  display: flex;
  flex-wrap: wrap;
}

.test-elements {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.test-elements:nth-child(3n) {
  margin-right: 0;
}

.test-elements:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.join {
  display: flex;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.follow {
  align-items: center;
  margin-left: 70px;
}
.to-go {
  display: flex;
  flex-direction: column;
}

.social-icon {
  content: "";
  display: inline-block;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 20px 20px;
  background-position: center;
}
.inst {
  background: rgba(255, 255, 255, 0.1);
  background-image: url(../images/insta-icon.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}
.tw {
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url(../images/twit-icon.svg);
}
.fc {
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url(../images/face-icon.svg);
}
.in {
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url(../images/in-icon.svg);
}
.social-icon:hover {
  background-color: var(--accent-color);
}
.join-flex > .social-icon {
  margin-right: 10px;
}
.join-flex > .social-icon:last-child {
  margin-right: 0;
}
